<a href="https://colab.research.google.com/github/LakshmiP1/Generative-AI/blob/main/Dictionary_var_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
d = {}

In [35]:
type(d)

dict

In [36]:
d1 = {"name":"sudh","email_id":"ls@gmail.com","number":12345}

In [37]:
d2 = {"name":"laks","name":"lakshmi"}

## In dictionaries the keys are not duplicated, keys will be unique.... values can be duplicated.

## whenever you are trying to create a dictionary the keys will be unique.

## If you are same name for two keys, the first key will be updated with second key value. The reason is key should be unique.

In [38]:
d2

{'name': 'lakshmi'}

In [39]:
# key can be integer value
d3 = {123:"sdfs"}
d3

{123: 'sdfs'}

In [40]:
# Key can be float value
d4 = {1234.6:"dbfmsn"}
d4

{1234.6: 'dbfmsn'}

In [41]:
# key can be a boolean value
d5 = {True:1}
d5

{True: 1}

In [42]:
# key can't be special characters
d6 = {@:1}
d6

SyntaxError: invalid syntax (<ipython-input-42-5a675066d704>, line 2)

In [44]:
d7 = {[1,2,3]:"abc"}
d7

TypeError: unhashable type: 'list'

## The “TypeError: unhashable type: 'list'” error is raised when you try to assign a list as a key in a dictionary. To solve this error, ensure you only assign a hashable object, such as a string or a tuple, as a key for a dictionary.

## System will not be able to create a hash map code for list why because list is a unhashable type.

In [45]:
## tuples can be working as a key because it is a hashable object
d8 = {(1,2,3):12}
d8

{(1, 2, 3): 12}

In [46]:
d9 = {{1,2,3}:"abc"}

TypeError: unhashable type: 'set'

In [47]:
d10 = {{"key":123}:123}

TypeError: unhashable type: 'dict'

In [48]:
d11 = {"course_name":["data science master","web dev","java with dsa and system design"]}
d11

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system design']}

In [49]:
d13 = {"key":(1,2,3)}
d13

{'key': (1, 2, 3)}

In [50]:
d14 = {"key":{1,2,3,4}}
d14

{'key': {1, 2, 3, 4}}

In [51]:
d15 = {"Student":{"name":"laks","college_name":"rvr"}}
d15

{'Student': {'name': 'laks', 'college_name': 'rvr'}}

In [52]:
d16 = {"batch_name":['data science masters','web dev','JDG'],"start_date":(12,3,24),"mentor_name":{'anurag',"amarnath","lakshmi","krish naik","Sudhanshu"}}
d16

{'batch_name': ['data science masters', 'web dev', 'JDG'],
 'start_date': (12, 3, 24),
 'mentor_name': {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'}}

### How to add a new kay and value to a existing dictionary

In [53]:
d16['timing'] = {8,10,6}
d16

{'batch_name': ['data science masters', 'web dev', 'JDG'],
 'start_date': (12, 3, 24),
 'mentor_name': {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'},
 'timing': {6, 8, 10}}

## when we are trying to add new values to a existing dictionary, it will update the existing values with the new values

In [54]:
d16['timing'] = [8,8,10]
d16

{'batch_name': ['data science masters', 'web dev', 'JDG'],
 'start_date': (12, 3, 24),
 'mentor_name': {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'},
 'timing': [8, 8, 10]}

## How to extract particular values from the dictionary

In [55]:
# By using the key name, we get the value
d16["batch_name"]

['data science masters', 'web dev', 'JDG']

In [56]:
d16["mentor_name"]

{'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'}

In [57]:
## why we get the "KeyError" is, the "key" is not present in the dictionary
d16['key']

KeyError: 'key'

In [58]:
d16['name'] = "lakshmi"

In [59]:
d16['name'].capitalize()

'Lakshmi'

In [60]:
d15['Student']['college_name']

'rvr'

In [61]:
len(d16)

5

In [62]:
## How to get all the keys in a dictionary

d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [63]:
## How to get all the values in a dictionary
d16.values()

dict_values([['data science masters', 'web dev', 'JDG'], (12, 3, 24), {'anurag', 'Sudhanshu', 'amarnath', 'lakshmi', 'krish naik'}, [8, 8, 10], 'lakshmi'])

In [64]:
# I want to convert all the keys and values in a list
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [65]:
list(d16.values())

[['data science masters', 'web dev', 'JDG'],
 (12, 3, 24),
 {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'},
 [8, 8, 10],
 'lakshmi']

In [67]:
# I want to fetch all keys and values in a same list
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDG']),
 ('start_date', (12, 3, 24)),
 ('mentor_name', {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'}),
 ('timing', [8, 8, 10]),
 ('name', 'lakshmi')]

## Deep Copy and Shallow copy

#### Deep copy means it will replicate all the data into a new memory.If we make any changes on the first variable, that doesn't effect on the newly created variable.

In [68]:
d17 = d16.copy()

In [69]:
# remove specified key and return the corresponding value
d17.pop("name")

'lakshmi'

In [70]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDG'],
 'start_date': (12, 3, 24),
 'mentor_name': {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'},
 'timing': [8, 8, 10]}

In [71]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDG'],
 'start_date': (12, 3, 24),
 'mentor_name': {'Sudhanshu', 'amarnath', 'anurag', 'krish naik', 'lakshmi'},
 'timing': [8, 8, 10],
 'name': 'lakshmi'}

In [72]:
## Shallow copy means it copies the data into the same memory. If we perform any operations on any variable, it will effect
d18 = d16

In [74]:
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [75]:
d19 = {"key1":"value1","key2":"value2"}
d20 = {"key3":"value3","key4":"value4"}

In [76]:
(d19,d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [78]:
d19.update(d20)
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [79]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [80]:
d20.update(d19)

In [81]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [84]:
# Return the value for key if key is in the dictionary, else default.
d20.get("key3")

'value3'

#### Dictionary Comprehensions

In [85]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [86]:
{i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [89]:
import math
d21 = {i:math.log10(i) for i in range(1,11)}

In [88]:
# I want to check 'batchname' is available in the dictionary or not
'batch_name' in d16

True

In [90]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [92]:
for i in d21.keys():
  if i%2==0:
    print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0